body {
  padding: 50px;
}

p { 
  margin: 0px;
  cursor: pointer;
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.complete {
  text-decoration: line-through;
}
